<div class="container">
  <p class="country">Tunisia</p>
  <img src="https://www.weatherbit.io/static/img/icons/c02d.png">
  <p class="weatherCondition">Scattered clouds</p>
  <p class="temp">20°</p>
    <aside style="display: flex">
        <img src="/assets/wi-sandstorm.svg" height="60px" width="60px">
        <span style="padding-top: 1em; margin-right: 24px; color: gray">20 m/s</span>

        <img  src="/assets/rain.svg" style="padding-top: 12px" height="35px" width="40px">
        <span style="padding-top: 1em; color: gray" >20 mm/h</span>
    </aside>
</div>
